Schemas/ComponentSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SystemChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Elements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Component" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:element name="Technologies" minOccurs="1" maxOccurs="1"/>
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="TechnologyRef" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                  <xs:attribute type="xs:string" name="target" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    <xs:element name="StoredData" minOccurs="1" maxOccurs="1"/>
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="DataRef" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                  <xs:attribute type="xs:string" name="target" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    <xs:element name="SubComponents" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Technologies" minOccurs="0" maxOccurs="1"/>
                                  <xs:complexType mixed="true"/>
                                    <xs:sequence>
                                      <xs:element name="TechnologyRef" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                            <xs:simpleContent>
                                              <xs:extension base="xs:string">
                                                <xs:attribute type="xs:string" name="id"/>
                                                <xs:attribute type="xs:string" name="target" use="required"/>
                                              </xs:extension>
                                            </xs:simpleContent>
                                          </xs:complexType>
                                      </xs:element>
                                  </xs:sequence>
                                <xs:element name="StoredData" minOccurs="0" maxOccurs="1"/>
                                  <xs:complexType mixed="true">
                                      <xs:sequence>
                                        <xs:element name="DataRef" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                            <xs:simpleContent>
                                              <xs:extension base="xs:string">
                                                <xs:attribute type="xs:string" name="id"/>
                                                <xs:attribute type="xs:string" name="target" use="required"/>
                                              </xs:extension>
                                            </xs:simpleContent>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                  </xs:complexType>
                                <xs:element name="SubComponents" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
                                        </xs:sequence>
                                    </xs:complexType>
                                <xs:element name="AssignedFunctions" minOccurs="0" maxOccurs="1"/>
                                  <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FunctionAssignment" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="isLockedAssigned"/>
                                                        <xs:attribute type="xs:string" name="isLockedDeassigned"/>
                                                        <xs:attribute type="xs:string" name="target" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="description"/>
                              <xs:attribute type="xs:string" name="id"/>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="title"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AssignedFunctions" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FunctionAssignment" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="isLockedAssigned"/>
                                  <xs:attribute type="xs:string" name="isLockedDeassigned"/>
                                  <xs:attribute type="xs:string" name="target" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  <xs:attribute type="xs:string" name="description"/>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="title"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="virtualPackage"/>
    </xs:complexType>
  </xs:element>
</xs:schema>