Schemas/FunctionsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SystemChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Elements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Function" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SubFunctions" minOccurs="1" maxOccurs="1">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Function" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="SubFunctions" minOccurs="0" maxOccurs="unbounded"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="description"/>
                              <xs:attribute type="xs:string" name="id"/>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="title"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="description"/>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="title"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="virtualPackage"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
