Schemas/ThreatCatalogSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ThreatsCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ThreatClasses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ThreatClass" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:element name="ThreatenedSecurityProperties" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CSPropertyRef" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                  <xs:attribute type="xs:string" name="target" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Architecture" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                          <xs:element name="DataFlowSecurityTarget" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element name="ChannelSecurityTarget" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InitialFeasibilityOptions" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FeasibilityRating" minOccurs="0" maxOccurs="unbounded" >
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="category"/>
                                  <xs:attribute type="xs:string" name="id"/>
                                  <xs:attribute type="xs:string" name="option"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ConsecutiveFeasibilityOptions" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Technologies" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TechnologyRef" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                  <xs:attribute type="xs:string" name="target" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  <xs:attribute type="xs:string" name="description"/>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="title"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
